{% extends 'base.html' %}

{% block head %}
<title>Data Description</title>
<style>

    .list_head{
        background-color: rgb(54, 54, 54);
        color: white;
        font-size: 30px;
    }
    .small{
        font-size: 20px;
    }

    table, th, td {
  border: 1px solid black;
}
</style>
{% endblock %}

{% block body %}
<br>
<h1 class="display-4">Description About Data</h1>
<br>
{% if data!=None %}
<p><span class='list_head'>Keys:</span>
    <ol>
    {% for i in data %}
        <li class="small">{{i.title()}}</li>
        {% endfor %}
    </ol>
    </p>
    {% else %}
        <h1 class="display-4">You have not supply any data yet</h1>

{% endif %}

<div>
   {{d_desc}}    
</div>

{% endblock %}